---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Graphql__Queries__Repo($owner: String!, $repo_name:
        String!) {\n  repository(owner: $owner, name: $repo_name) {\n    name\n    forkCount\n    stargazerCount\n    createdAt\n    updatedAt\n    url\n    pullRequests(last:
        1) {\n      nodes {\n        author {\n          __typename\n          login\n        }\n        commits(last:
        1) {\n          nodes {\n            commit {\n              pushedDate\n            }\n          }\n        }\n      }\n    }\n  }\n}","variables":{"owner":"github","repo_name":"graphql-client"},"operationName":"Graphql__Queries__Repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer some-error-key
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '0'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1605848184'
      X-Ratelimit-Used:
      - '0'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/graphql"}'
  recorded_at: Fri, 20 Nov 2020 03:56:24 GMT
recorded_with: VCR 5.0.0
